.row {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.dropdown {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}

.dropdown-toggle {
    width: 100%;
}

/* .DateRangePickerInput_arrow_svg {
    margin-left: -2px;
} */

.DateRangePicker {
    width: 100%;
}

.DateRangePickerInput {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}